/* DAO Header */
.dao-header {display:flex; justify-content:space-between; align-items: center; width: 100%; height: 72px; background-color: #fff;}
.dao-header.detail {position:relative;}
.dao-header.detail::after {content:''; position:absolute; height:2px; width:92%; background-color: #000; bottom:0; right:0;}
.dao-header > div:nth-child(1) {padding-left:24px;}
.dao-header > div:nth-child(2) {padding-right:24px;}
.dao-header > div > h1 > a > img {height:25px;}

/* DAO 카타고리 */
.dao-category-section {width:100%; box-shadow:0 0 10px 0 rgba(0,0,0,0.1); z-index:99; font-family: "Pretendard"; background-color: #fff;}
.dao-category-section > ul {display:flex; justify-content:space-between; align-items:center; width:100%; border-bottom:#EFEFEF 1px solid;}
.dao-category-section > ul > .swiper-slide {display:flex; justify-content: center; align-items: center; width:33%; height:100%; text-align:center; font-family:"Pretendard"; font-weight:500; font-size:15px; line-height:13px; color:#C8C8C8; padding:24px 0;}
.dao-category-section > ul > .swiper-slide:hover {color:#8e8e8e;}
.dao-category-section > ul > .swiper-slide.active {color:#000; border-bottom:#000 2px solid;}

@media all and (max-width:479px) {
  
}
@media all and (min-width:480px) and (max-width:767px) {
  
}
@media all and (min-width:768px) and (max-width:991px) {
  
}
@media all and (min-width:992px) and (max-width:1299px) {
  
}
@media all and (min-width:1300px) {
}

/* DAO 리스트 - 컬럼형태 */
.dao-quest-list-columns {width:100%; overflow:hidden;}
.dao-quest-list-columns > h2 {padding-top:80px; text-align:center; font-weight:700; font-family: "Pretendard"; font-size:40px; line-height:40px; color:#222;}
.dao-quest-list-columns > h3 {margin:20px 0 50px 0; text-align:center; font-family: "Pretendard"; font-size:20px; line-height:28px; color:#0045f4;}
.dao-quest-list-columns > ul {display:flex; align-items:center; flex-wrap:wrap;}
.dao-quest-list-columns > ul > li {position:relative; width:30%; margin:0 5% 20px 0; padding:40px 24px; border:#e5e5e5 0.5px solid; background:#fff; box-shadow:0 0 10px 0 rgba(0,0,0,0.1);}
.dao-quest-list-columns > ul > li > h2 {padding:5px 0; font-family: 'Pretendard'; font-size:24px; line-height:18px; color:#000; font-weight:700; display: flex; justify-content: space-between; align-items: center;}
.dao-quest-list-columns > ul > li > h2 span {font-size:16px; font-weight:700; color:#C8C8C8; font-family: 'Pretendard';}
.dao-quest-list-columns > ul > li > h2 div {font-family: 'Pretendard'; font-size: 24px; font-weight: 700;}
.dao-quest-list-columns > ul > li > h2 > .endtime div {font-family: 'Pretendard'; font-size:16px; line-height: 24px; color:#000;}
.dao-quest-list-columns > ul > li > h2 > .endtime div.closed {color: #0AC35C;}
.dao-quest-list-columns > ul > li > p {height:180px; margin-top:20px; background:#000; overflow:hidden; cursor:pointer;}
.dao-quest-list-columns > ul > li > p span {display:block; height:100%; transition:all 0.3s; background-size:100% !important;}
.dao-quest-list-columns > ul > li > p span:hover {background-size:110% !important;}
.dao-quest-list-columns > ul > li > h3 {margin-top:20px; font-family: "Pretendard"; font-size:12px; line-height:12px; color:#222; border-left: 2px solid #C8C8C8;}
.dao-quest-list-columns > ul > li > h3 > div {display:flex; align-items:center; padding: 5px 0 5px 10px;}
.dao-quest-list-columns > ul > li > h3 > div > div {font-size:14px; color:#949494; width: 60px; font-weight: 300;}
.dao-quest-list-columns > ul > li > h3 > div > span {font-size:14px; color:#000; font-weight:300;}
.dao-quest-list-columns > ul > li > h4 {display:-webkit-box; height:80px; margin-top:20px; font-family: "Pretendard"; font-size:18px; font-weight:700; line-height:26px; color:#000; -webkit-line-clamp:3; -webkit-box-orient:vertical; text-overflow:ellipsis; overflow:hidden;}
.dao-quest-list-columns > ul > li > ul {width:100%; height:230px; margin-top:20px; overflow:auto; padding: 10px;}
.dao-quest-list-columns > ul > li > ul > li {display:flex; justify-content:space-between; align-items:center; flex-wrap:wrap; padding:12px 20px; font-weight:600; color:#777; background:#fff; transition:all 0.3s;}
.dao-quest-list-columns > ul > li > ul > li > div {margin-right:10px; text-overflow:ellipsis; white-space:nowrap; overflow:hidden; font-size:14px; font-weight:300;}
.dao-quest-list-columns > ul > li > ul > li > p {font-size:14px; font-weight:300;}
.dao-quest-list-columns > ul > li > ul > li > h2 {width:100%; font-family: "Pretendard"; margin-top:10px; border-radius:6px; background:#fff; overflow:hidden; background-color: #e9e9e9;}
.dao-quest-list-columns > ul > li > ul > li > h2 div {height:4px; background:#000; z-index: 999;}
.dao-quest-list-columns > ul > li > .selectBtn {margin: 24px 0; font-size:14px; font-weight:300; font-family:'Pretendard'; color:#000;}
.dao-quest-list-columns > ul > li > .selectBtn > div:nth-child(2) {display:flex; justify-content:space-between; align-items:center; margin-top:24px;}
.dao-quest-list-columns > ul > li > .selectBtn > div > button {width:48%; height:56px; border-radius:4px; background-color:#EFEFEF; font-size:16px; color:#000; font-weight:300;}
.dao-quest-list-columns > ul > li > .selectBtn > div > button:hover {background-color:#000; color:#fff;}

@media all and (max-width:479px) {
  .dao-quest-list-columns > h2 {padding-top:50px; font-family: 'Pretendard'; font-size:28px; line-height:28px;}
  .dao-quest-list-columns > h3 {margin-top:15px; font-family: 'Pretendard'; font-size:14px; line-height:20px;}
  .dao-quest-list-columns > ul > li {width:100%; margin:0 0 12px 0; padding:40px 24px;}
  /* .dao-quest-list-columns > ul > li > div {width:102%; height:101%; margin:-20px 0 0 -20px;} */
  .dao-quest-list-columns > ul > li > h2 {padding:2px 0; font-family: 'Pretendard'; font-size:17px; line-height:17px;}
  .dao-quest-list-columns > ul > li > h2 > div {font-family: 'Pretendard';}
  .dao-quest-list-columns > ul > li > h2 > span {font-family: 'Pretendard';}
  .dao-quest-list-columns > ul > li > h4 {margin-top:20px; font-family: 'Pretendard'; font-size:18px;}
  .dao-quest-list-columns > ul > li > ul {height:auto; margin: 20px 0; border: 1px solid #EFEFEF; border-radius: 4px;}
  .dao-quest-list-columns > ul > li > ul li {padding:10px 17px;}
}
@media all and (min-width:480px) and (max-width:767px) {
  .dao-quest-list-columns > h2 {font-family: 'Pretendard'; font-size:28px; line-height:28px;}
  .dao-quest-list-columns > h3 {margin-top:15px; font-family: 'Pretendard'; font-size:14px; line-height:20px;}
  .dao-quest-list-columns > ul > li {width:100%; margin:0 0 17px 0; padding:17px;}
  /* .dao-quest-list-columns > ul > li > div {width:101%; height:101%; margin:-20px 0 0 -20px; border-radius:15px;} */
  .dao-quest-list-columns > ul > li > h2 {padding:2px 0; font-family: 'Pretendard'; font-size:17px; line-height:17px;}
  .dao-quest-list-columns > ul > li > h4 {margin-top:20px; font-family: 'Pretendard'; font-size:18px;}
  .dao-quest-list-columns > ul > li > ul {height:auto; margin-top:15px;}
  .dao-quest-list-columns > ul > li > ul li {padding:10px 17px;}
}
@media all and (min-width:768px) and (max-width:991px) {
  .dao-quest-list-columns > ul > li {width:49%;}
  .dao-quest-list-columns > ul > li:nth-child(2n) {margin:0 0 20px 0;}
  /* .dao-quest-list-columns > ul > li > div {width:100.5%; height:100.3%; margin:-21px 0 0 -21px;} */
}
@media all and (min-width:992px) and (max-width:1299px) {
  .dao-quest-list-columns > ul > li:nth-child(3n) {margin:0 0 20px 0;}
  /* .dao-quest-list-columns > ul > li > div {width:100.5%; height:100.3%; margin:-21px 0 0 -21px;} */
}
@media all and (min-width:1300px) {
  .dao-quest-list-columns > ul > li:nth-child(3n) {margin:0 0 20px 0;}
}

/* 상세 */
.dao-quest-view {width:100%; overflow:hidden;}
.dao-quest-view > dl > dt {padding: 24px; background-color: #fff;}
.dao-quest-view > dl > dt > h2 {padding:5px 0; font-family: 'Pretendard'; font-size:24px; line-height:18px; color:#000; font-weight:700; display: flex; justify-content: space-between; align-items: center;}
.dao-quest-view > dl > dt > h2 span {font-size:16px; font-weight:700; color:#C8C8C8; font-family: 'Pretendard';}
.dao-quest-view > dl > dt > h2 div {font-family: 'Pretendard'; font-size: 24px; font-weight: 700;}
.dao-quest-view > dl > dt > h2 > .endtime div {font-family: 'Pretendard'; font-size:16px; line-height: 24px; color:#000;}
.dao-quest-view > dl > dt > h2 > .endtime div.closed {color: #0AC35C;}
.dao-quest-view > dl > dt > p {margin-top:24px; height:180px; overflow:hidden;}
.dao-quest-view > dl > dt > p + div {height:48px; background-color: #EDEEF2; display: flex; justify-content: flex-start; align-items: center;}
.dao-quest-view > dl > dt > p + div > p {color: #949494; font-size:14px; font-weight: 300; padding:13px 18px; font-family: 'Pretendard'}
.dao-quest-view > dl > dt > p + div > p > span {color: #000; margin-left:16px; font-family: 'Pretendard'}
.dao-quest-view > dl > dt > h3 {margin-top:24px; font-family: "Pretendard"; font-size:18px; line-height:26px; letter-spacing: -0.02em; color:#000; font-weight: 700; font-family: "Pretendard";}
.dao-quest-view > dl > dt > h4 {font-size:16px; font-weight:700; color:#C8C8C8; letter-spacing:-0.02em; line-height:24px; font-family: "Pretendard"; margin-top:12px;}
.dao-quest-view > dl > dt > h4 > span {font-size:16px; font-weight:700; color:#C8C8C8; letter-spacing:-0.02em; line-height:24px; font-family: "Pretendard"; margin-left:8px;}

.dao-quest-view > dl > dt > ul {height:auto; margin: 20px 0; border: 1px solid #EFEFEF; border-radius: 4px;}
.dao-quest-view > dl > dt > ul > li {display:flex; justify-content:space-between; align-items:center; flex-wrap:wrap; padding:16px 24px; font-weight:600; color:#777; background:#fff; transition:all 0.3s;}
.dao-quest-view > dl > dt > ul > li > div {text-overflow:ellipsis; white-space:nowrap; overflow:hidden; font-size:13px; font-weight:300;}
.dao-quest-view > dl > dt > ul > li > p {font-size:14px; font-weight:300;}
.dao-quest-view > dl > dt > ul > li > h2 {width:100%; font-family: "Pretendard"; margin-top:10px; border-radius:6px; background:#fff; overflow:hidden; background-color: #e9e9e9;}
.dao-quest-view > dl > dt > ul > li > h2 div {height:4px; background:#000; z-index: 999;}
.dao-quest-view > dl > dt > select {width: 100%; height:48px; padding:12px 16px; background-color: #fff; color:#000; border-radius: 4px; -webkit-appearance: none; appearance: none; background-size: 24px; background-repeat: no-repeat; background-position: calc(100% - 8px) center;}
.dao-quest-view > dl > dt > .votelist {display:flex; flex-direction:column; justify-content: center; align-items:center; width:100%; border:none; margin: 0;}
.dao-quest-view > dl > dt > .votelist > li {display:flex; justify-content: space-between; align-items:center; padding: 0; width:100%; height:45px; border-bottom:1px solid #EFEFEF; display:flex; justify-content:center; align-items:center;}
.dao-quest-view > dl > dt > .votelist > li > div {width:25%; margin:0; text-align:center;}
.dao-quest-view > dl > dt > .votelist > li > div:nth-child(1) {width:40%; text-align:left;}
.dao-quest-view > dl > dt > .votelist > li > div:nth-child(2) {margin:0 10px;}

@media all and (max-width:479px) {
  .dao-quest-view > div {padding:20px;}
  .dao-quest-view > div > dl > dt > h2 {padding:5px 0; font-family: 'Pretendard'; font-size:24px; line-height:18px; color:#000; font-weight:700; display: flex; justify-content: space-between; align-items: center;}
  .dao-quest-view > div > dl > dt > h2 span {font-size:16px; font-weight:700; color:#C8C8C8; font-family: 'Pretendard';}
  .dao-quest-view > div > dl > dt > h2 div {font-family: 'Pretendard'; font-size: 24px; font-weight: 700;}
  .dao-quest-view > div > dl > dt > h2 > .endtime div {font-family: 'Pretendard'; font-size:16px; line-height: 24px; color:#000;}
  .dao-quest-view > div > dl > dt > h2 > .endtime div.closed {color: #0AC35C;}

  .dao-quest-view > div > h2 span {padding:4px 10px; font-family: "Pretendard"; font-size:13px; line-height:13px;}
  .dao-quest-view > div > p iframe {height:200px;}
  .dao-quest-view > dl {flex-wrap:wrap;}
  .dao-quest-view > dl > dt {width:100%; padding:20px;}
  .dao-quest-view > dl > dt > p {height:200px;}
}
@media all and (min-width:480px) and (max-width:767px) {
  .dao-quest-view > div {padding:20px;}
  .dao-quest-view > div > h2 {font-family: "Pretendard"; font-size:14px; line-height:18px;}
  .dao-quest-view > div > h2 span {padding:4px 10px; font-family: "Pretendard"; font-size:13px; line-height:13px;}
  .dao-quest-view > div > p iframe {height:200px;}
  .dao-quest-view > dl {flex-wrap:wrap;}
  .dao-quest-view > dl > dt {width:100%; padding:24px;}
  .dao-quest-view > dl > dt > p {height:200px;}
  .dao-quest-view > dl > dt > h3 {font-family: "Pretendard"; font-size:15px; line-height:19px;}
}
@media all and (min-width:768px) and (max-width:991px) {
  .dao-quest-view > div > p iframe {height:350px;}
  .dao-quest-view > dl {flex-wrap:wrap;}
  .dao-quest-view > dl > dt {width:100%; padding:20px;}
  .dao-quest-view > dl > dt > p {height:350px;}
  .dao-quest-view > dl > dd {width:100%; padding:20px;}
}
@media all and (min-width:992px) and (max-width:1299px) {

}
@media all and (min-width:1300px) {

}
/* dimmed-Wrap */
.dimmed-wrap {width:100%; height:100%; overflow: hidden;}

/* Dimmed-Layer */
.dimmed-layer {position:relative; width:100%; height:100%; overflow: hidden;}
.dimmed-layer::after {content:''; position:absolute; top:0; bottom:0; left:0; right:0; background-color: rgba(0, 0, 0, 0.7);}

/* MyPage */
.mypage {position:absolute; top:0; bottom:0; right:0; z-index: 999; width:85%; height:100%; background-color:#fff; padding: 24px 0 24px 24px; }
.mypage > h2 {font-size:24px; font-weight:700; line-height:34px; font-family:'Pretendard'; color:#000; margin-bottom: 16px;}
.mypage > h3 {font-family: 'Pretendard'; font-weight: 700; font-size: 18px; line-height: 22px; color:#000; margin-bottom: 8px}
.mypage > p {font-family: 'Pretendard'; font-style: normal; font-weight: 300; font-size: 14px; line-height: 22px; margin-bottom: 24px; display: flex; justify-content: flex-start; align-items: center;}
.mypage > p > i {font-size: 24px; font-weight: 100; color: rgba(0,0,0,1); font-family: 'Pretendard'; margin-left: 4px;}
.mypage > div {display: flex; justify-content: space-between; align-items: center; width: 100%; font-family: 'Pretendard'; font-weight: 700; font-size: 14px; line-height: 22px; color: #000; border-bottom: 2px solid #000; padding-bottom: 10px;}
.mypage > div > p {font-family: 'Pretendard'; font-weight: 700; font-size: 14px; line-height: 22px; color: #000;}
.mypage > div > p:nth-child(2) {margin-right:20px;}
.mypage > ul > li {width:100%; padding:14px 0; font-family: 'Pretendard'; font-style: normal; font-weight: 600; font-size: 16px; line-height: 24px; color:#000; cursor: pointer;}
.mypage > ul > li:first-child {padding-top:0; margin-top:28px;}

/* Proposal-Header */
.proposal-header {width:100%; height:72px;}
.proposal-header > div {width:100%; height:100%; display:flex; justify-content:center; align-items:center; position:relative;}
.proposal-header > div > .arrow {position:absolute; top:0; bottom:0; left:14px;  height:100%; font-size: 26px; color:#000; cursor: pointer;}
.proposal-header > div > .account {width:80px; height:100%; margin-top:20px; margin:0; display:flex; justify-content:center; align-items:center; position:absolute; top:0; right:24px; bottom:0;}
.proposal-header > div > .account > p {text-overflow:ellipsis; white-space:nowrap; word-break: break-all; overflow: hidden; font-family: "Pretendard"; font-size:12px; font-weight:300; line-height:18px; color:#000; cursor: pointer;}
.proposal-header > div > h2 {font-family: 'Pretendard'; font-weight: 600; font-size: 16px; line-height: 24px; color:#000;}

/* Proposal Section */
.dao-proposal-section {padding:24px 24px 0 24px; background-color:#fff;}
.dao-proposal-section > p {font-family: 'Pretendard'; font-style: normal; font-weight: 300; font-size: 14px; line-height: 22px; color:#000; margin-bottom: 12px;}
.dao-proposal-section > p > span {font-family: 'Pretendard'; font-style: normal; font-weight: 700; font-size: 14px; line-height: 22px; color:#000;}
.dao-proposal-section > select {width: 100%; height:48px; padding:12px 16px; background-color: #fff; color:#000; border-radius: 4px; -webkit-appearance: none; appearance: none; background-size: 24px; background-repeat: no-repeat; background-position: calc(100% - 8px) center;}

/* Proposal List */
.dao-proposal-list {width: 100%; padding: 0 24px;}
.dao-proposal-list .dao-proposal-content {width: 100%;}
.dao-proposal-list .dao-proposal-content > li {padding: 24px 0; border-bottom:1px solid #EFEFEF;}
.dao-proposal-list .dao-proposal-content > li > div {display: flex; justify-content: space-between; align-items: center; color:#000; margin-bottom:16px;}
.dao-proposal-list .dao-proposal-content > li > div > h3 {font-family: 'Pretendard'; font-weight: 700; font-size: 14px; line-height: 22px;}
.dao-proposal-list .dao-proposal-content > li > div > p {font-family: 'Pretendard'; font-style: normal; font-weight: 600; font-size: 12px; line-height: 14px; letter-spacing: -0.02em; color: #FFFFFF; padding: 4px 8px;}
.dao-proposal-list .dao-proposal-content > li > div > p.active {background-color:#167EE6; border-radius: 12px;}
.dao-proposal-list .dao-proposal-content > li > div > p.closed {background-color:#0AC35C; border-radius: 12px;}
.dao-proposal-list .dao-proposal-content > li > h2 {font-family: 'Pretendard'; font-style: normal; font-weight: 700; font-size: 16px; line-height: 22px; color:#000; margin-bottom:12px;}
.dao-proposal-list .dao-proposal-content > li > h2 + p {font-family: 'Pretendard'; font-style: normal; font-weight: 300; font-size: 14px; line-height: 22px; letter-spacing: -0.02em; display:-webkit-box; color:#777; -webkit-line-clamp:3; -webkit-box-orient:vertical; text-overflow:ellipsis; overflow:hidden; margin-bottom: 12px;}
.dao-proposal-list .dao-proposal-content > li > h2 + p + p {font-family: 'Pretendard'; font-weight: 300; font-size: 14px; line-height: 22px; letter-spacing: -0.02em; color:#000;}
.dao-proposal-list .dao-proposal-content > li > h2 + p + ul {border: 1px solid #EFEFEF; border-radius: 4px;}
.dao-proposal-list .dao-proposal-content > li > h2 + p + ul > li {display: flex; justify-content: space-between; align-items: center; width: 100%; height: 50px; padding: 16px 24px; box-sizing: border-box; border-bottom: 1px solid #EFEFEF; font-family: 'Pretendard'; font-weight: 300; font-size: 14px; line-height: 22px;}
.dao-proposal-list .dao-proposal-content > li > h2 + p + ul > li:last-child {border-bottom: none;}

/* Proposal-Footer */
.proposal-footer {width: 100%; height: 64px; background-color: #000; position: fixed; bottom: 0; left: 0; right:0; display: flex; justify-content: center; align-items: center; cursor: pointer;}
.proposal-footer > p {display: flex; justify-content: center; align-items: center; color:#fff; font-family: 'Pretendard'; font-style: normal; font-weight: 300; font-size: 16px; line-height: 24px;}