/* DAO Header */
.dao-header {display:flex; justify-content:space-between; align-items: center; max-width: 400px; height: 72px; background-color: #fff; margin:0px auto;}
.dao-header.detail {position:relative;}
.dao-header.detail::after {content:''; position:absolute; height:2px; width:92%; background-color: #000; bottom:0; right:0;}
.dao-header > div:nth-child(1) {padding-left:24px;}
.dao-header > div:nth-child(2) {padding-right:24px;}
.dao-header > div > h1 > a > img {height:25px;}

.dao-header > div.account {width:90px; height:100%; margin-top:20px; margin:0; display:flex; justify-content:center; align-items:center; }
.dao-header > div.account > p {text-overflow:ellipsis; white-space:nowrap; word-break: break-all; overflow: hidden; font-family: "Pretendard"; font-size:13px; font-weight:300; line-height:18px; color:#000; cursor: pointer;}

/* DAO 카타고리 */
.dao-category-section {width:100%; box-shadow:0 0 10px 0 rgba(0,0,0,0.1); z-index:99; font-family: "Pretendard"; background-color: #fff;}
.dao-category-section > ul {display:flex; justify-content:space-between; align-items:center; width:100%; border-bottom:#EFEFEF 1px solid;}
.dao-category-section > ul > .swiper-slide {display:flex; justify-content: center; align-items: center; width:33%; height:100%; text-align:center; font-family:"Pretendard"; font-weight:500; font-size:15px; line-height:13px; color:#C8C8C8; padding:24px 0;}
.dao-category-section > ul > .swiper-slide:hover {color:#8e8e8e;}
.dao-category-section > ul > .swiper-slide.active {color:#000; border-bottom:#000 2px solid;}

@media all and (max-width:479px) {
  
}
@media all and (min-width:480px) and (max-width:767px) {
  
}
@media all and (min-width:768px) and (max-width:991px) {
  
}
@media all and (min-width:992px) and (max-width:1299px) {
  
}
@media all and (min-width:1300px) {
}

/* DAO 리스트 - 컬럼형태 */
.dao-quest-list-columns {width:100%; overflow:hidden;}
.dao-quest-list-columns > h2 {padding-top:50px; text-align:center; font-weight:700; font-family: "Pretendard"; font-size:28px; line-height:28px; color:#222;}
.dao-quest-list-columns > h3 {margin:15px 0 50px 0; text-align:center; font-family: "Pretendard"; font-size:14px; line-height:20px; color:#0045f4;}
.dao-quest-list-columns > ul {display:flex; align-items:center; flex-wrap:wrap; margin-bottom: 38px;}
.dao-quest-list-columns > ul > li {position:relative; width:100%; height: 100%; margin:0 0 12px 0; padding:40px 24px; border:#e5e5e5 0.5px solid; background:#fff; box-shadow:0 0 10px 0 rgba(0,0,0,0.1);}
.dao-quest-list-columns > ul > li.lastList {margin-bottom: 0px;}
.dao-quest-list-columns > ul > li > h2 {padding:2px 0; font-family: 'Pretendard'; font-size:17px; line-height:17px; color:#000; font-weight:700; display: flex; justify-content: space-between; align-items: center;}
.dao-quest-list-columns > ul > li > h2 span {font-size:16px; font-weight:700; color:#C8C8C8; font-family: 'Pretendard';}
.dao-quest-list-columns > ul > li > h2 div {font-family: 'Pretendard'; font-size: 24px; font-weight: 700;}
.dao-quest-list-columns > ul > li > h2 > .endtime div {font-family: 'Pretendard'; font-size:16px; line-height: 24px; color:#000;}
.dao-quest-list-columns > ul > li > h2 > .endtime div.closed {color: #0AC35C;}
.dao-quest-list-columns > ul > li > p {height:180px; margin-top:20px; background:#000; overflow:hidden; cursor:pointer;}
.dao-quest-list-columns > ul > li > p span {display:block; height:100%; transition:all 0.3s; background-size:100% !important;}
.dao-quest-list-columns > ul > li > p span:hover {background-size:110% !important;}
.dao-quest-list-columns > ul > li > h3 {margin-top:20px; font-family: "Pretendard"; font-size:12px; line-height:12px; color:#222; border-left: 2px solid #C8C8C8;}
.dao-quest-list-columns > ul > li > h3 > div {display:flex; align-items:center; padding: 5px 0 5px 10px;}
.dao-quest-list-columns > ul > li > h3 > div > div {font-size:14px; color:#949494; width: 60px; font-weight: 300;}
.dao-quest-list-columns > ul > li > h3 > div > span {font-size:14px; color:#000; font-weight:300;}
.dao-quest-list-columns > ul > li > h4 {display:-webkit-box; height:80px; margin-top:20px; font-family: "Pretendard"; font-size:18px; font-weight:700; line-height:26px; color:#000; -webkit-line-clamp:3; -webkit-box-orient:vertical; text-overflow:ellipsis; overflow:hidden;}
.dao-quest-list-columns > ul > li > ul {width:100%; height:auto; margin-top:20px; border: 1px solid #EFEFEF; border-radius: 4px; overflow:auto; padding: 10px;}
.dao-quest-list-columns > ul > li > ul > li {display:flex; justify-content:space-between; align-items:center; flex-wrap:wrap; padding:10px 17px; font-weight:600; color:#777; background:#fff; transition:all 0.3s;}
.dao-quest-list-columns > ul > li > ul > li > div {margin-right:10px; text-overflow:ellipsis; white-space:nowrap; overflow:hidden; font-size:14px; font-weight:300;}
.dao-quest-list-columns > ul > li > ul > li > p {font-size:14px; font-weight:300;}
.dao-quest-list-columns > ul > li > ul > li > h2 {width:100%; font-family: "Pretendard"; margin-top:10px; border-radius:6px; background:#fff; overflow:hidden; background-color: #e9e9e9;}
.dao-quest-list-columns > ul > li > ul > li > h2 div {height:4px; background:#000; z-index: 999;}

/* answerCheck */
.dao-quest-list-columns > ul > li > ul.answer-list {border: none; padding: 0;}
.dao-quest-list-columns > ul > li > ul.answer-list li {border: 1px solid #EFEFEF; border-radius: 4px; margin: 10px 0; padding:20px 17px;}
.dao-quest-list-columns > ul > li > ul.answer-list li.active {background-color: #FDD22C;}
.dao-quest-list-columns > ul > li > ul.answer-list li:hover {background-color: #FDD22C;}
.dao-quest-list-columns > ul > li > ul.answer-list li:first-child {margin: 0; margin-bottom: 10px;}

/* modalOpen */
.dao-quest-list-columns > ul > li.modalOpen {position: relative;}
.dao-quest-list-columns > ul > li.modalOpen::after {content:''; position:absolute; top:0; bottom:0; left:0; right:0; background-color: rgba(0, 0, 0, 0.7);}
.dao-quest-list-columns > ul > li.modalOpen > .makeselect {position: absolute; top: 50%; left: 50%; transform: translate(-50%,-50%); width: 80%; height: 220px; border-radius: 4px; background-color: #fff; z-index: 9999; padding: 24px; display: flex; flex-direction: column; justify-content: center; align-items: center;}
.dao-quest-list-columns > ul > li.modalOpen > .makeselect > p {font-size: 18px; margin-bottom: 20px; line-height: 24px; font-family: "Pretendard"; color:#222; font-weight: 600; text-align: center;}
.dao-quest-list-columns > ul > li.modalOpen > .makeselect > div {display: flex; justify-content: space-between; align-items: center; width: 100%;}
.dao-quest-list-columns > ul > li.modalOpen > .makeselect > div > button {font-size: 16px; border: none; background-color: #EFEFEF; width: 48%; height: 50px; border-radius: 6px; color: #000; transition:all 0.3s;}
.dao-quest-list-columns > ul > li.modalOpen > .makeselect > div > button.continueBtn {width: 100%;}
.dao-quest-list-columns > ul > li.modalOpen > .makeselect > div > button:hover {background-color: #000; color: #fff;}
.dao-quest-list-columns > ul > li.modalOpen > .makeselect > .closeBtn {position: absolute; top: 6px; right: 6px; font-size: 24px; display: block; width: 24px; cursor: pointer; color: rgba(0, 0, 0, 0.5); transition:all 0.3s;}
.dao-quest-list-columns > ul > li.modalOpen > .makeselect > .closeBtn:hover {color: rgba(0, 0, 0, 1);}

/* Open ResultModal */
.dao-quest-list-columns > ul > li.modalOpen > .waitModal {position: absolute; top: 50%; left: 50%; transform: translate(-50%,-50%); width: 80%; height: 220px; border-radius: 4px; background-color: #fff; z-index: 9999; padding: 24px; display: flex; flex-direction: column; justify-content: center; align-items: center;}
.dao-quest-list-columns > ul > li.modalOpen > .waitModal > p {font-size: 18px; margin-bottom: 20px; line-height: 24px; font-family: "Pretendard"; color:#222; font-weight: 600; text-align: center;}
.dao-quest-list-columns > ul > li.modalOpen > .waitModal > div {display: flex; justify-content: space-between; align-items: center; width: 100%;}
.dao-quest-list-columns > ul > li.modalOpen > .waitModal > div > button {font-size: 16px; border: none; background-color: #EFEFEF; width: 48%; height: 50px; border-radius: 6px; color: #000; transition:all 0.3s;}
.dao-quest-list-columns > ul > li.modalOpen > .waitModal > div > button:hover {background-color: #000; color: #fff;}

/* already Voted || closed Quest */
.dao-quest-list-columns > ul > li > .selectBtn {margin: 24px 0; font-size:14px; font-weight:300; font-family:'Pretendard'; color:#000;}
.dao-quest-list-columns > ul > li > .selectBtn.vote-finish {position: relative;}
.dao-quest-list-columns > ul > li > .selectBtn.vote-finish > div {filter: blur(4px);}
.dao-quest-list-columns > ul > li > .selectBtn.vote-finish > .vote-alarm {position: absolute; top: 0; bottom: 0; left: 0; right: 0; background-color: rgba(0, 0, 0, 0.8); color: #fff; border-radius: 4px; display: flex; justify-content: center; align-items: center; font-weight: 600; font-size: 24px; filter: none;}
.dao-quest-list-columns > ul > li > .selectBtn > div:nth-child(2) {display:flex; justify-content:space-between; align-items:center; margin-top:24px;}
.dao-quest-list-columns > ul > li > .selectBtn > div > button {width:48%; height:56px; border-radius:4px; background-color:#EFEFEF; font-size:16px; color:#000; font-weight:300; transition: all 0.3s;}
.dao-quest-list-columns > ul > li > .selectBtn > div > button.answerBtn {width:100%;}
.dao-quest-list-columns > ul > li > .selectBtn > div > button:hover {background-color:#000; color:#fff;}
.dao-quest-list-columns > ul > li > .selectBtn > .adminConfirmBtn {width: 100%; height: 56px; border-radius:4px; background-color:#EFEFEF; font-size:16px; color:#000; font-weight:300; margin-top: 8px;}
.dao-quest-list-columns > ul > li > .selectBtn > .adminConfirmBtn:disabled {cursor: not-allowed}
.dao-quest-list-columns > ul > li > .selectBtn > .adminConfirmBtn:hover {background-color:#000; color:#fff;}
.dao-quest-list-columns > ul > li > .selectBtn > .adminConfirmBtn:disabled:hover {background-color:#EFEFEF; color:#000;}

/* Wait Loading */
.wait-list {width: 100%; height: calc(100vh - 186px); background-color: #fff; display: flex; justify-content: center; align-items: center;}
.wait-list > h2 {color: #000; font-size: 24px; line-height: 24px;}

/* Not Data View */
.not-list-data {width: 100%; height: calc(100vh - 186px); background-color: #fff; display: flex; justify-content: center; align-items: center;}
.not-list-data > h2 {color: #000; font-size: 24px; line-height: 24px;}

@media all and (max-width:479px) {
}
@media all and (min-width:480px) and (max-width:767px) {
  
}
@media all and (min-width:768px) and (max-width:991px) {
}
@media all and (min-width:992px) and (max-width:1299px) {
}
@media all and (min-width:1300px) {
}

/* 상세 */
.dao-quest-view {width:100%; height: 100%; background-color: #fff;}
.dao-quest-view > dl > dt {padding: 24px; background-color: #fff;}
.dao-quest-view > dl > dt > h2 {padding:5px 0; font-family: 'Pretendard'; font-size:24px; line-height:18px; color:#000; font-weight:700; display: flex; justify-content: space-between; align-items: center;}
.dao-quest-view > dl > dt > h2 span {font-size:16px; font-weight:700; color:#C8C8C8; font-family: 'Pretendard'; margin-left: 6px;}
.dao-quest-view > dl > dt > h2 div {font-family: 'Pretendard'; font-size: 24px; font-weight: 700; display: flex; justify-content: center; align-items: center;}
.dao-quest-view > dl > dt > h2 > .endtime div {font-family: 'Pretendard'; font-size:16px; line-height: 24px; color:#000;}
.dao-quest-view > dl > dt > h2 > .endtime div.closed {color: #0AC35C;}
.dao-quest-view > dl > dt > p {margin-top:24px; height:180px; overflow:hidden;}
.dao-quest-view > dl > dt > p + div {height:48px; background-color: #EDEEF2; display: flex; justify-content: flex-start; align-items: center;}
.dao-quest-view > dl > dt > p + div > p {color: #949494; font-size:14px; font-weight: 300; padding:13px 18px; font-family: 'Pretendard'}
.dao-quest-view > dl > dt > p + div > p > span {color: #000; margin-left:16px; font-family: 'Pretendard'}
.dao-quest-view > dl > dt > h3 {margin-top:24px; font-family: "Pretendard"; font-size:18px; line-height:26px; letter-spacing: -0.02em; color:#000; font-weight: 700; font-family: "Pretendard";}
.dao-quest-view > dl > dt > h4 {font-size:16px; font-weight:700; color:#C8C8C8; letter-spacing:-0.02em; line-height:24px; font-family: "Pretendard"; margin-top:12px;}
.dao-quest-view > dl > dt > h4 > span {font-size:16px; font-weight:700; color:#C8C8C8; letter-spacing:-0.02em; line-height:24px; font-family: "Pretendard"; margin-left:8px;}

.dao-quest-view > dl > dt > ul {height:auto; margin: 20px 0; border: 1px solid #EFEFEF; border-radius: 4px;}
.dao-quest-view > dl > dt > ul > li {display:flex; justify-content:space-between; align-items:center; flex-wrap:wrap; padding:16px 24px; font-weight:600; color:#777; background:#fff; transition:all 0.3s;}
.dao-quest-view > dl > dt > ul > li > div {text-overflow:ellipsis; white-space:nowrap; overflow:hidden; font-size:13px; font-weight:300;}
.dao-quest-view > dl > dt > ul > li > p {font-size:14px; font-weight:300;}
.dao-quest-view > dl > dt > ul > li > h2 {width:100%; font-family: "Pretendard"; margin-top:10px; border-radius:6px; background:#fff; overflow:hidden; background-color: #e9e9e9;}
.dao-quest-view > dl > dt > ul > li > h2 div {height:4px; background:#000; z-index: 999;}
.dao-quest-view > dl > dt > select {width: 100%; height:48px; padding:12px 16px; background-color: #fff; color:#000; border-radius: 4px; -webkit-appearance: none; appearance: none; background-size: 24px; background-repeat: no-repeat; background-position: calc(100% - 8px) center;}
.dao-quest-view > dl > dt > .votelist {display:flex; flex-direction:column; justify-content: center; align-items:center; width:100%; border:none; margin: 0;}
.dao-quest-view > dl > dt > .votelist > li {display:flex; justify-content: space-between; align-items:center; padding: 0; width:100%; height:45px; border-bottom:1px solid #EFEFEF; display:flex; justify-content:center; align-items:center;}
.dao-quest-view > dl > dt > .votelist > li > div {width:25%; margin:0; text-align:center;}
.dao-quest-view > dl > dt > .votelist > li > div:nth-child(1) {width:40%; text-align:left;}
.dao-quest-view > dl > dt > .votelist > li > div:nth-child(2) {margin:0 10px;}

@media all and (max-width:479px) {
}
@media all and (min-width:480px) and (max-width:767px) {
}
@media all and (min-width:768px) and (max-width:991px) {
}
@media all and (min-width:992px) and (max-width:1299px) {
}
@media all and (min-width:1300px) {
}
/* dimmed-Wrap */
.layout-wrap {position: relative; overflow: hidden;}
.dimmed-wrap {height:100%; max-width: 400px; overflow: auto; margin: 0 auto; position: relative;}
.dimmed-wrap.open-mypage {height:auto;}

/* Dimmed-Layer */
.dimmed-layer {position: fixed; top:0; bottom:0; left:0; right:0; overflow: hidden; background-color: rgba(0, 0, 0, 0.7); z-index: 9990;}

/* proposal-dimmed-Wrap */
.proposal-dimmed-wrap {width:100%; height:110%; position:relative; box-sizing: border-box; overflow: hidden;}

/* proposal-Dimmed-Layer */
.proposal-dimmed-layer {position: fixed; top:0; bottom:0; left:0; right:0; overflow: hidden; background-color: rgba(0, 0, 0, 0.7); z-index: 9999;}

/* MyPage */
.mypage {position:absolute; top:0; bottom:0; right:0; z-index: 9999; width:85%; height:100%; background-color:#fff; padding: 24px 0 24px 24px;}
.mypage > h2 {font-size:24px; font-weight:700; line-height:34px; font-family:'Pretendard'; color:#000; margin-bottom: 16px;}
.mypage > h3 {font-family: 'Pretendard'; font-weight: 700; font-size: 18px; line-height: 22px; color:#000; margin-bottom: 8px}
.mypage > p {font-family: 'Pretendard'; font-style: normal; font-weight: 300; font-size: 14px; line-height: 22px; margin-bottom: 24px; display: flex; justify-content: flex-start; align-items: center;}
.mypage > p > i {font-size: 24px; font-weight: 100; color: rgba(0,0,0,1); font-family: 'Pretendard'; margin-left: 4px;}
.mypage > div {display: flex; justify-content: space-between; align-items: center; width: 100%; font-family: 'Pretendard'; font-weight: 700; font-size: 14px; line-height: 22px; color: #000; border-bottom: 2px solid #000; padding-bottom: 10px;}
.mypage > div > p {font-family: 'Pretendard'; font-weight: 700; font-size: 14px; line-height: 22px; color: #000;}
.mypage > div > p:nth-child(2) {margin-right:20px;}
.mypage > ul > li {width:100%; padding:14px 0; font-family: 'Pretendard'; font-style: normal; font-weight: 600; font-size: 16px; line-height: 24px; color:#000; cursor: pointer;}
.mypage > ul > li:first-child {padding-top:0; margin-top:28px;}

/* Proposal-Header */
.proposal-header {width:100%; height:72px; position: relative; background-color: #fff;}
.proposal-header > div {width:100%; height:100%; display:flex; justify-content:center; align-items:center; position:relative;}
.proposal-header > div > .arrow {position:absolute; top:0; bottom:0; left:14px;  height:100%; font-size: 26px; color:#000; cursor: pointer;}
.proposal-header > div > .account {width:80px; height:100%; margin-top:20px; margin:0; display:flex; justify-content:center; align-items:center; position:absolute; top:0; right:24px; bottom:0;}
.proposal-header > div > .account > p {text-overflow:ellipsis; white-space:nowrap; word-break: break-all; overflow: hidden; font-family: "Pretendard"; font-size:12px; font-weight:300; line-height:18px; color:#000; cursor: pointer;}
.proposal-header > div > h2 {font-family: 'Pretendard'; font-weight: 600; font-size: 16px; line-height: 24px; color:#000;}

/* Proposal Section */
.dao-proposal-section {padding:24px 24px 0 24px; background-color:#fff;}
.dao-proposal-section > p {font-family: 'Pretendard'; font-style: normal; font-weight: 300; font-size: 14px; line-height: 22px; color:#000; margin-bottom: 12px;}
.dao-proposal-section > p > span {font-family: 'Pretendard'; font-style: normal; font-weight: 700; font-size: 14px; line-height: 22px; color:#000;}
.dao-proposal-section > select {width: 100%; height:48px; padding:12px 16px; background-color: #fff; color:#000; border-radius: 4px; -webkit-appearance: none; appearance: none; background-size: 24px; background-repeat: no-repeat; background-position: calc(100% - 8px) center;}

/* Proposal List */
.dao-proposal-list {width: 100%; padding: 0 24px;}
.dao-proposal-list .dao-proposal-content {width: 100%;}
.dao-proposal-list .dao-proposal-content > li {padding: 24px 0; border-bottom:1px solid #EFEFEF; cursor: pointer;}
.dao-proposal-list .dao-proposal-content > li > div {display: flex; justify-content: space-between; align-items: center; color:#000; margin-bottom:16px;}
.dao-proposal-list .dao-proposal-content > li > div > h3 {font-family: 'Pretendard'; font-weight: 700; font-size: 14px; line-height: 22px;}
.dao-proposal-list .dao-proposal-content > li > div > div {display: flex; justify-content: center; align-items: center;}
.dao-proposal-list .dao-proposal-content > li > div > div > p {font-family: 'Pretendard'; font-style: normal; font-weight: 600; font-size: 12px; line-height: 14px; letter-spacing: -0.02em; color: #FFFFFF; padding: 4px 8px;}
.dao-proposal-list .dao-proposal-content > li > div > div > p.active {background-color:#167EE6; border-radius: 12px;}
.dao-proposal-list .dao-proposal-content > li > div > div > p.closed {background-color:#0AC35C; border-radius: 12px;}
.dao-proposal-list .dao-proposal-content > li > div > div > p.finish
{background-color:#FF8C00; border-radius: 12px; margin-right: 4px;}
.dao-proposal-list .dao-proposal-content > li > h2 {font-family: 'Pretendard'; font-style: normal; font-weight: 700; font-size: 16px; line-height: 22px; color:#000; margin-bottom:12px;}
.dao-proposal-list .dao-proposal-content > li > h2 + p {font-family: 'Pretendard'; font-style: normal; font-weight: 300; font-size: 14px; line-height: 22px; letter-spacing: -0.02em; display:-webkit-box; color:#777; -webkit-line-clamp:3; -webkit-box-orient:vertical; text-overflow:ellipsis; overflow:hidden; margin-bottom: 12px;}
.dao-proposal-list .dao-proposal-content > li > h2 + p + p {font-family: 'Pretendard'; font-weight: 300; font-size: 14px; line-height: 22px; letter-spacing: -0.02em; color:#000;}
.dao-proposal-list .dao-proposal-content > li > h2 + p + ul {border: 1px solid #EFEFEF; border-radius: 4px;}
.dao-proposal-list .dao-proposal-content > li > h2 + p + ul > li {display: flex; justify-content: space-between; align-items: center; width: 100%; height: 50px; padding: 16px 24px; box-sizing: border-box; border-bottom: 1px solid #EFEFEF; font-family: 'Pretendard'; font-weight: 300; font-size: 14px; line-height: 22px; color:#666;}
.dao-proposal-list .dao-proposal-content > li > h2 + p + ul > li.winnerAnswer {background-color: #FDD22C; color:#000;}
.dao-proposal-list .dao-proposal-content > li > h2 + p + ul > li.drawAnswer {background-color: #F5FFF6; color:#000;}
.dao-proposal-list .dao-proposal-content > li > h2 + p + ul > li:last-child {border-bottom: none;}

/* Proposal-Footer */
.proposal-footer {max-width: 400px; margin: 0 auto; width: 100%; height: 64px; background-color: #000; position: fixed; bottom: 0; left: 0; right:0; display: flex; justify-content: center; align-items: center; cursor: pointer;}
.proposal-footer > p {display: flex; justify-content: center; align-items: center; color:#fff; font-family: 'Pretendard'; font-style: normal; font-weight: 300; font-size: 16px; line-height: 24px;}

/* Proposal-View */
.proposal-view-content {padding:24px; height: calc(100vh - 72px); background-color: #fff;}
.proposal-view-header {padding-bottom: 24px; border-bottom: 1px solid #EFEFEF; margin-bottom:24px;}
.proposal-view-header > h2 {font-family: 'Pretendard'; font-weight: 700; font-size: 24px; line-height: 34px; margin-bottom: 16px; color:#000;}
.proposal-view-header > div {display: flex; justify-content: space-between; align-items: center;}
.proposal-view-header > div > p {font-family: 'Pretendard'; font-weight: 700; font-size: 14px; line-height: 22px; color:#000;}
.proposal-view-header > div > div {display: flex; justify-content: center; align-items: center;}
.proposal-view-header > div > div > p {font-family: 'Pretendard'; font-style: normal; font-weight: 600; font-size: 12px; line-height: 14px; letter-spacing: -0.02em; color: #FFFFFF; padding: 4px 8px;background-color:#167EE6; border-radius: 12px;}
.proposal-view-desc {margin-bottom: 40px;}
.proposal-view-header > div > div > p.closed {background-color:#0AC35C;}
.proposal-view-header > div > div > p.finish {background-color:#FF8C00; margin-right: 4px;}
.proposal-view-desc > p {font-family: 'Pretendard'; font-weight: 300; font-size: 16px; line-height: 24px; margin-bottom: 24px; color:#000;}
.proposal-view-desc > p.closed {display:-webkit-box;  -webkit-line-clamp:16; -webkit-box-orient:vertical; text-overflow:ellipsis; overflow:hidden;}
.proposal-view-desc > button {width: 100%; height:40px; border: 1px solid #EFEFEF; border-radius: 20px; font-family: 'Pretendard'; font-weight: 300; font-size: 14px; line-height: 22px; color: #949494;}
.proposal-answer {margin-bottom: 40px;}
.proposal-answer > h3 {font-family: 'Pretendard'; font-weight: 700; font-size: 14px; line-height: 22px; color:#000; margin-bottom:16px;}
.proposal-answer > ul {border: 1px solid #EFEFEF; border-radius: 4px; margin-bottom: 16px;}
.proposal-answer > ul > li {width: 100%; height: 50px; display: flex; justify-content: space-between; align-items: center; padding: 16px 24px; border-bottom: 1px solid #EFEFEF; cursor: pointer;}
.proposal-answer > ul > li:last-child {border-bottom: none;}
.proposal-answer > ul > li:hover {background-color: #FDD22C;}
.proposal-answer > ul.closeQuest > li:hover {background-color: #FFF; cursor: default;}
.proposal-answer > ul.closeQuest > li.winnerAnswer {background-color: #FDD22C; color:#000;}
.proposal-answer > ul.closeQuest > li.drawAnswer {background-color: #F5FFF6; color:#000;}
.proposal-answer > ul > li > p {font-family: 'Pretendard'; font-weight: 300; font-size: 14px; line-height: 22px; color: #000;}
.proposal-answer > button {width: 100%; height: 56px; border-radius: 4px; background-color: #000; color: #fff; font-family: 'Pretendard'; font-weight: 300; font-size: 16px; line-height: 24px; cursor: pointer;}
.proposal-answer > button:disabled {background-color: #777; cursor: not-allowed;}
.proposal-votelist > h3 {font-family: 'Pretendard'; font-weight: 700; font-size: 14px; line-height: 22px; color:#000; margin-bottom:16px;}
.proposal-votelist > ul > li {display: flex; justify-content: space-between; align-items: center; border-bottom: 1px solid #EFEFEF; padding: 12px 0;}
.proposal-votelist > ul > li > p {font-family: 'Pretendard'; font-weight: 300; font-size: 14px; line-height: 22px; color: #000; display: flex; justify-content: center; align-items: center; width: 30%;}
.answer-select {background-color: #FDD22C;}

/* Proposal-Create */
.proposal-create-content {padding:24px; height: calc(100% - 72px); background-color: #FFF; position: relative;}
.proposal-subtitle {font-family: 'Pretendard'; font-weight: 600; font-size: 14px; line-height: 22px; color: #000;}
.proposal-subtitle span {color:#C9162B; font-size: 12px;}
.proposal-subtitle + input {width: 100%; height: 48px !important; background: #fff !important; border: 1px solid #EFEFEF; border-radius: 4px; margin-bottom: 40px; font-family: 'Pretendard'; font-weight: 300; font-size: 14px; line-height: 22px; color: #000; z-index: 2; margin-top: 16px;}
.proposal-desc-wrap {display: flex; justify-content: space-between; align-items: center; margin-bottom: 16px;}
.proposal-desc-wrap > p {font-family: 'Pretendard'; font-weight: 300; font-size: 14px; line-height: 22px;}
.proposal-desc-wrap + textarea {width: 100%; height: 160px; border:1px solid #EFEFEF; border-radius: 4px; background: #fff; margin-bottom: 40px; resize: none; font-family: 'Pretendard'; font-weight: 300; font-size: 14px; line-height: 22px; color: #000; z-index: 2;}
.proposal-title-wrap {display: flex; justify-content: space-between; align-items: center; margin-bottom: 16px;}
.proposal-title-wrap > .proposal-btn-wrap {display: flex; justify-content: center; align-items: center;}
.proposal-title-wrap > .proposal-btn-wrap > div {font-size: 36px; color: #000; cursor: pointer;}
.proposal-title-wrap + ul {border: none;}
.proposal-title-wrap + ul > li {width: 100%; height: 48px; background: #FFFFFF; display: flex; justify-content: space-between; align-items: center; margin-bottom: 8px;}
.proposal-title-wrap + ul > li:last-child {margin-bottom: 16px;}
.proposal-title-wrap + ul > li > input {width: 100%; height: 100%; background: #FFFFFF; border: 1px solid #EFEFEF; border-radius: 4px; display: flex; justify-content: flex-start; align-items: center; padding: 0 20px; color: #000; font-family: 'Pretendard'; font-weight: 300; font-size: 14px; line-height: 22px; z-index: 2;}
.create-notice {font-family: 'Pretendard'; font-style: normal; font-weight: 300; font-size: 14px; line-height: 22px; color: #949494; margin-bottom: 40px;}
.createBtn {width: 100%; height: 56px; background: #000000; border-radius: 4px; display: flex; justify-content: center; align-items: center; cursor: pointer;}
.createBtn > button {color: #fff; font-family: 'Pretendard'; font-weight: 300; font-size: 16px; line-height: 24px;}

.nft-notice-modal {position: fixed; top: 50%; left: 50%; right: 0; bottom: 0; width: 90%; height: 176px; background-color: #fff; z-index: 10000; transform: translate(-50%, -50%); border-radius: 8px; display: flex; flex-direction: column; justify-content: center; align-items: center; cursor: pointer;}
.nft-notice-modal > P {font-family: 'Pretendard'; font-weight: 300; font-size: 16px; line-height: 24px; color: #000; padding: 40px;}
.nft-notice-modal > button {width: 85%; height: 48px; background-color: #000; color: #fff; font-family: 'Pretendard'; font-weight: 300; font-size: 16px; line-height: 24px; border-radius: 4px;}

/* Voting-History Section */
.voting-history-section {padding:24px 24px 0 24px; background-color:#fff;}
.voting-history-section > div {display: flex; justify-content: space-between; align-items: center; width: 100%; margin-bottom: 12px;}
.voting-history-section > div > p {font-family: 'Pretendard'; font-weight: 300; font-size: 14px; line-height: 22px; color:#000;}
.voting-history-section > div > p > span {font-family: 'Pretendard'; font-style: normal; font-weight: 700; font-size: 14px; line-height: 22px; color:#000;}
.voting-history-section > div > button {font-family: 'Pretendard'; font-weight: 600; font-size: 14px; line-height: 22px; color: #C8C8C8; cursor: pointer;}
.voting-history-section > select {width: 100%; height:48px; padding:12px 16px; background-color: #fff; color:#000; border-radius: 4px; -webkit-appearance: none; appearance: none; background-size: 24px; background-repeat: no-repeat; background-position: calc(100% - 8px) center;}

/* Voting-History List */
.voting-history-list {width: 100%;}
.voting-history-list .voting-history-content {width: 100%; background-color: #F5F5F5;}
.voting-history-list .voting-history-content > li > input {display: none;}
.voting-history-list .voting-history-content > li > label {padding: 40px 24px; margin-bottom: 20px; background-color: #fff; display: block;}
.voting-history-list .voting-history-content > li > label.activate {display: flex; justify-content: space-between; align-items: center;}
.voting-history-list .voting-history-content > li:last-child {margin-bottom: 0;}
.voting-history-list .voting-history-content > li > label > div {width: 100%;}
.voting-history-list .voting-history-content > li > label.activate > div {width: 86%; position: relative;}
.voting-history-list .voting-history-content > li > label.activate > span.checkbox {display: block; width: 24px; height: 24px; border: 1px solid #777; border-radius: 4px; margin-bottom: 160px; box-sizing: border-box;}
.voting-history-list .voting-history-content > li > input:checked + label.activate > span.checkbox {background-color: #000; position: relative;}
.voting-history-list .voting-history-content > li > input:checked + label.activate > span.checkbox::before {position: absolute; content: ''; width: 10px; height: 2px; background-color: #fff; top: 50%; left: 2.5px; transform: rotate(45deg) translateY(-50%);}
.voting-history-list .voting-history-content > li > input:checked + label.activate > span.checkbox::after {position: absolute; content: ''; width: 10px; height: 2px; background-color: #fff; top: 50%; right: 2.5px; transform: rotate(-45deg) translateY(-50%);}
.voting-history-list .voting-history-content > li > label > div > h3 {font-family: 'Pretendard'; font-weight: 600; font-size: 14px; line-height: 22px; color: #000; margin-bottom: 20px;}
.voting-history-list .voting-history-content > li > label > div > div {display: flex; justify-content: flex-start; align-items: center; margin-bottom: 20px;}
.voting-history-list .voting-history-content > li > label > div > div > img {width: 118px; height: 66px; margin-right: 20px;}
.voting-history-list .voting-history-content > li > label > div > div > p {font-family: 'Pretendard'; font-weight: 300; font-size: 14px; line-height: 22px; color: #000;}
.voting-history-list .voting-history-content > li > label > div > ul {border: 1px solid #EFEFEF; border-radius: 4px; margin-bottom: 16px;}
.voting-history-list .voting-history-content > li > label > div > ul > li {display: flex; justify-content: space-between; align-items: center; width: 100%; height: 50px; padding: 16px 24px; box-sizing: border-box; border-bottom: 1px solid #EFEFEF; font-family: 'Pretendard'; font-weight: 300; font-size: 14px; line-height: 22px;}
.voting-history-list .voting-history-content > li > label > div > ul > li:last-child {border-bottom: none;}
.voting-history-list .voting-history-content > li > label > div > ul + div {display: flex; justify-content: space-between; align-items: center; margin: 0;}
.voting-history-list .voting-history-content > li > label > div > ul + div > p {font-family: 'Pretendard'; font-weight: 300; font-size: 12px; line-height: 18px; color: #000;}
.voting-history-list .voting-history-content > li > label > div > ul + div > p:nth-child(2) {font-family: 'Pretendard'; font-weight: 300; font-size: 12px; line-height: 18px; color: #949494;}

/* Voting-History-Footer */
.voting-history-footer {width: 100%; height: 64px; background-color: #000; position: fixed; bottom: 0; left: 0; right:0; display: flex; justify-content: space-between; align-items: center; cursor: pointer;}
.voting-history-footer > p {width: 33%; display: flex; justify-content: center; align-items: center; color:#fff; font-family: 'Pretendard'; font-style: normal; font-weight: 300; font-size: 16px; line-height: 24px;}
.voting-history-footer > p:nth-child(2) {position: relative;}
.voting-history-footer > p:nth-child(2)::after {position:absolute; content: ''; top: calc(50% - 6px); left: 0; right: 0; border-left: 1px solid #777; border-right: 1px solid #777; height: 12px;}

/* Reward-History Section */
.reward-history-section {padding:0; background-color:#fff;}
.reward-history-section > div {padding:24px; display: flex; justify-content: space-between; align-items: center; width: 100%; border-bottom: 1px solid #000;}
.reward-history-section > div > p {font-family: 'Pretendard'; font-weight: 300; font-size: 14px; line-height: 22px; color:#000;}
.reward-history-section > div > p > span {font-family: 'Pretendard'; font-style: normal; font-weight: 700; font-size: 14px; line-height: 22px; color:#000;}
.reward-history-section > div > button {font-family: 'Pretendard'; font-weight: 600; font-size: 14px; line-height: 22px; color: #C8C8C8; cursor: pointer;}

/* Reward-History List */
.reward-history-list {width: 100%;}
.reward-history-list .reward-history-content {width: 100%; height: calc(100% - 143px); background-color: #FFF;}
.reward-history-list .reward-history-content > li {padding: 40px 24px 0 40px; background-color: #fff;}
.reward-history-list .reward-history-content > li > input {display: none;}
.reward-history-list .reward-history-content > li > label { background-color: #fff; display: block; border-bottom: 1px solid #EFEFEF; cursor: pointer; padding-bottom: 40px;}
.reward-history-list .reward-history-content > li > label.activate {display: flex; justify-content: space-between; align-items: center;}
.reward-history-list .reward-history-content > li:last-child {margin-bottom: 0;}
.reward-history-list .reward-history-content > li > label > div {width: 100%;}
.reward-history-list .reward-history-content > li > label.activate > div {width: 86%; position: relative;}
.reward-history-list .reward-history-content > li > label.activate > span.checkbox {display: block; width: 24px; height: 24px; border: 1px solid #777; border-radius: 4px; margin-bottom: -20px; box-sizing: border-box;}
.reward-history-list .reward-history-content > li > input:checked + label.activate > span.checkbox {background-color: #000; position: relative;}
.reward-history-list .reward-history-content > li > input:checked + label.activate > span.checkbox::before {position: absolute; content: ''; width: 10px; height: 2px; background-color: #fff; top: 50%; left: 2.5px; transform: rotate(45deg) translateY(-50%);}
.reward-history-list .reward-history-content > li > input:checked + label.activate > span.checkbox::after {position: absolute; content: ''; width: 10px; height: 2px; background-color: #fff; top: 50%; right: 2.5px; transform: rotate(-45deg) translateY(-50%);}
.reward-history-list .reward-history-content > li > label > div > h3 {font-family: 'Pretendard'; font-weight: 600; font-size: 14px; line-height: 22px; color: #000; margin-bottom: 20px;}
.reward-history-list .reward-history-content > li > label > div > h3 > span {font-family: 'Pretendard'; font-weight: 300; font-size: 10px; margin-left: 6px; padding: 0 6px; border-radius: 8px; display: inline-block; color: #fff;}
.reward-history-list .reward-history-content > li > label > div > h3 > span.rewardFinish {background-color: #0AC35C;}
.reward-history-list .reward-history-content > li > label > div > h3 > span.rewardGet {background-color: #167EE6;}
.reward-history-list .reward-history-content > li > label > div > h3 > span.rewardGet > span > span.checkCT {font-weight: 600; font-size: 11px; letter-spacing: 0.7px;}
.reward-history-list .reward-history-content > li > label > div > div {display: flex; justify-content: flex-start; align-items: center; margin-bottom: 20px;}
.reward-history-list .reward-history-content > li > label > div > div > span {width: 118px; height: 66px; margin-right: 20px;}
.reward-history-list .reward-history-content > li > label > div > div > div {position: relative;}
.reward-history-list .reward-history-content > li > label > div > div > div > p {font-family: 'Pretendard'; font-weight: 300; font-size: 14px; line-height: 22px; color: #000;}
.reward-history-list .reward-history-content > li > label > div > div > div > p:last-child {font-family: 'Pretendard'; font-weight: 300; font-size: 12px; line-height: 18px; color: #949494; position: absolute; left: 0; bottom: -22px;}

/* Reward-History-Footer */
.reward-history-footer {max-width: 400px; width: 100%; height: 64px; background-color: #000; position: fixed; bottom: 0; left: 0; right:0; display: flex; justify-content: space-between; align-items: center; cursor: pointer; margin: 0 auto;}
.reward-history-footer > p {width: 33%; height: 100%; display: flex; justify-content: center; align-items: center; color:#fff; font-family: 'Pretendard'; font-style: normal; font-weight: 300; font-size: 16px; line-height: 24px;}
.reward-history-footer > p:nth-child(2) {position: relative;}
.reward-history-footer > p:nth-child(2)::after {position:absolute; content: ''; top: calc(50% - 6px); left: 0; right: 0; border-left: 1px solid #777; border-right: 1px solid #777; height: 12px;}

.dao-footer-mobile {position:fixed; bottom:0px; max-width:400px; width: 100%; box-shadow:0 0 10px 0 rgba(0,0,0,0.1); background:#fff; z-index:999;}
.dao-footer-mobile > ul {width:100%; overflow:hidden;}
.dao-footer-mobile > ul > li {float:left; width:16.5%; padding:8px 0; text-align:center; cursor:pointer;}
.dao-footer-mobile > ul > li p {font-family: "Poppins"; font-size:22px; color:#222;}
.dao-footer-mobile > ul > li div {padding-top:4px; font-family: "Poppins"; font-size:10px; line-height:11px; color:#777;}
.dao-footer-mobile > ul > li.active p {color:#0045f4;}
.dao-footer-mobile > ul > li.active div {color:#0045f4;}

@media all and (max-width:479px) {
}
@media all and (min-width:480px) and (max-width:767px) {
}
@media all and (min-width:768px) and (max-width:991px) {
}
@media all and (min-width:992px) and (max-width:1299px) {
}
@media all and (min-width:1300px) {
}

/* DAO Main Bg-image */
.dao-bg-service {max-width:400px; height: calc(100vh - 72px); display: flex; flex-direction: column; justify-content: center; align-items: center; margin: 0 auto;}

@media all and (max-width:479px) {
}
@media all and (min-width:480px) and (max-width:767px) {
}
@media all and (min-width:768px) and (max-width:991px) {
}
@media all and (min-width:992px) and (max-width:1299px) {
}
@media all and (min-width:1300px) {
}

/* 기본영역 (타이틀) */
.dao-title-area {max-width:400px; margin:0 auto; padding-bottom:100px; text-align:center; font-weight:700; font-family: "Poppins"; font-size:36px; line-height:36px; color:#fff;}

@media all and (max-width:479px) {
}
@media all and (min-width:480px) and (max-width:767px) {
}
@media all and (min-width:768px) and (max-width:991px) {
}
@media all and (min-width:992px) and (max-width:1299px) {
}
@media all and (min-width:1300px) {
}

.dao-bg-service > button {background-color: #fff; color: #000; border: none; border-radius: 4px; width: 180px; height: 62px; font-size: 24px; font-weight: 400; font-family: "Poppins";}